<% include ./partials/header %>
<h1>Sign up!</h1>
<form action="/register" method="post">
<input type="text" placeholder="username" name="username">
<input type="password" name="password" placeholder="password" id="">
<button>Submit</button>
</form>
<% include ./partials/footer %>